.termos-seguros {
  padding-top: 80px;
  padding-bottom: 80px;
}

.termos-seguros h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.termos-seguros p {
  max-width: 75ch;
  margin-bottom: 24px;
}

.termos-seguros p + h2 {
  margin-top: 40px;
}